:host{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". app-header app-header app-header app-header app-header app-header . ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    "dev-info app-context app-context app-context app-context app-context app-context app-actions ."
    ". app-footer app-footer app-footer app-footer app-footer app-footer . .";
  height: 100dvh;
  width: 100dvw;
}
